@page "/test";
@using Model;
@using DTO;
@inject HttpClient Http;

@if (superheros != (new List<DTO.SuperHero>()))
{
    @foreach(DTO.SuperHero hero in superheros){
        <p>Nom du super-héros : @hero.id @hero.name "@hero.powerstats.intelligence"</p>
    }
}
else
{
    <p>Erreur lors de la récupération des données du super-héros.</p>
}

@code {
    private List<DTO.SuperHero> superheros = new List<DTO.SuperHero>();
    protected override async Task OnInitializedAsync()
    {
        RequestSuperheroAPI superheroAPI = new RequestSuperheroAPI(Http);
        int id = 1;
        while (true) {
            try
            {
                if (id > 10) {
                    break;
                }
                // Effectue la requête GET à l'API
                DTO.SuperHero? superhero = await superheroAPI.GetSuperheroById(id);
                if (superhero == null) {
                    break;
                } else {
                    superheros.Add(superhero);
                    id++;
                }
            }
            catch (Exception ex)
            {
                // Gère les erreurs ici, par exemple, en affichant un message d'erreur à l'utilisateur
                Console.WriteLine($"Erreur lors de la récupération des tâches : {ex.Message}");
                break;
            }
        }
    }
}